* {
  margin: 0px;
  padding: 0px;
}
header{
  height: 150px;
  background-image: url(img/pattern.png);
  background-color: rgb(78, 160, 255);
  position: relative;
}
header img{
  width: 250px;
  color: white;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.titolo-pagina p{
  color: rgb(120, 120, 120);
} 
main,footer{
  padding: 15px;
}
